[Desktop Entry]
Type=Application
Name=COSMIC Initial Setup
Name[hu]=COSMIC Első Beállítás
Exec=cosmic-initial-setup
NoDisplay=true
Terminal=false
StartupNotify=true
OnlyShowIn=COSMIC
